body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

/* Theme colors */
:root {
  --bs-primary: #2e7d32;
  /* natural green */
  --bs-warning: #fbc02d;
  /* golden accent */
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  height: 20px;
  padding-bottom: 5px;
}


/* Index Page */
.hero-index {
  /* background: linear-gradient(rgba(46, 125, 50, 0.7), rgba(46, 125, 50, 0.7)),
    url(../images/JS-home-hero.png); */
  background-image: url(../images/JS-home-hero.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 8rem 2rem;
}

.index-card {
  min-height: 300px;
}


/* Exercises Main Page */
.hero-exercises {
  background-image: url(../images/exercise-hero-image.png);
  background-size: cover;
  background-position: bottom;
  color: white;
  text-align: center;
  padding: 8rem 2rem;
}

/* Styles for exercise pages */
.exercise-container {
  max-width: 700px;
  margin: 4rem auto;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.h1-exercise,
.h2-exercise {
  color: #2e7d32;
  font-weight: 600;
}

#output {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #e8f5e9;
  border-radius: 0.5rem;
  min-height: 50px;
  white-space: pre-line;
  text-align: center;
  
}

/* Height Checker */
#output-wave {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #e8f5e9;
  border-radius: 0.5rem;
  min-height: 50px;
  white-space: pre-line;
  text-align: center;
  display: none;
}

.wave-background {
  background-image: url(../images/wildwaves-hero.png);
  background-size: cover;
  padding: 2rem 0;
}

/* Random color generator */

#output-color-generator {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid black;
  min-height: 50px;
  white-space: pre-line;
  text-align: center;
}

#container {
  background-color: rgb(232, 228, 228);
  border-radius: 10px;
  max-width: 30%;
  margin: 0 auto;
}

/* Spot the difference smile game */

div.game {
  position: relative;
  width: 500px;
  height: 500px;
  border: solid black 1px;
}

div.game>img {
  position: absolute;
}

/* #rightSide {
            left: 500px;
            border-left: 1px solid;
        } */


.exercise-containerG {
  max-width: 90%;
  margin: 4rem auto;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

/* NEWS APP */
.hero-newsapp {
  /* background: linear-gradient(rgba(46, 125, 50, 0.7), rgba(46, 125, 50, 0.7)),
    url(../images/JS-home-hero.png); */
  background-image: url(../images/news-app-hero.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 8rem 2rem;
  height: 500px;
}

.h1-newsapp {
  text-align: center;
}

.news-card {

  margin: 1rem auto;
  background-color: beige;
  border-radius: 7px;
  padding: 1rem;
}




.news-image {
  height: 245px;
}



.query-input {
  width: 50%;
  display: inline;
}

.query-button {
  display: inline;
}