/* *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
    ;
} */


/* * {
    border: solid red 1px;
} */

.hero {
    background-image: url(../images/hero.jpeg);
    height: 90vh;
    background-size: cover;

}

.hero-title {
    position: relative;
    top: 40vh;
    color: white;
    background-color: rgba(96, 93, 93, .5);
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 30px;
}

footer {
    height: 30px;
    background: red;
}
